In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.2.1)

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 4.7 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.5 MB 4.6 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.5 MB 5.0 MB/s eta 0:00:02
   -------------- ------------------------- 4.2/11.5 MB 5.3 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.5 MB 5.7 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 5.6 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 5.9 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 5.8 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [5]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: pandas>=1.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.55.3-cp313-cp313-win_amd64.whl.metadata (168 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.0 MB 4.0 MB/s eta 0:00:02
   --------- ------------------------------ 1.8/8.0 MB 4.8 MB/s eta 0:00:02
   -------------- ------------------------- 2.9/8.0 MB 4.8 MB/s eta 0:00:02
   -------------------- ------------------- 4.2/8.0 MB 5.1 MB/s eta 0:00:01
   -------------------------- ------------- 5.2/8.0 MB 5.1 MB/s eta 0:00:01
   -------------------------------- ------- 6.6/8.0 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 5.5 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 5.3 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 2.2 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 4.2 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl (71 kB)
Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------------------- -------------------- 1.3/2.6 MB 6.9 MB/s eta 0:00:01
   ---------------------------------------  2.6/2.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 5.6 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1 seaborn-0.13.2

In [10]:
pip install -U scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.

  Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.1 MB 5.4 MB/s eta 0:00:02
   ----- ---------------------------------- 1.6/11.1 MB 4.0 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.1 MB 4.1 MB/s eta 0:00:03
   ----------- ---------------------------- 3.1/11.1 MB 3.9 MB/s eta 0:00:03
   -------------- ------------------------- 3.9/11.1 MB 3.9 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/11.1 MB 3.9 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.1 MB 3.8 MB/s eta 0:00:02
   ----------------------- ---------------- 6.6/11.1 MB 3.9 MB/s eta 0:00:02
   -------------------------- ------------- 7.3/11.1 MB 4.0 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.1 MB 4.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/11.1 MB 4.1 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.1 MB 4.2 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 4.2 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 3.7 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.1-cp313-cp313-win_amd64.whl (43.6 MB)
   ---------------------------------------- 0.0/43.6 MB ? eta -:--:--
    --------------------------------------- 0.8/43.6 MB 4.2 MB/s eta 0:00:11
   - -------------------------------------- 1.6/43.6 MB 4.2 MB/s eta 0:00:11
   -- ------------------------------------- 2.6/43.6 MB 4.3 MB/s eta 0:00:10
   --- ------------------------------------ 3.4/43.6 MB 4.3 MB/s eta 0:00:10
   ---- ----------------------------------- 4.5/43.6 MB 4.4 MB/s eta 0:00:09
   ---- ----------------------------------- 5.2/43.6 MB 4.4 MB/s eta 0:00:09
   ----- ---------------------------------- 6.3/43.6 MB 4.4 MB/s eta 0:00:09
   ------ --------------------------------- 7.1/43.6 MB 4.4 MB/s eta 0:00:09
   ------- -------------------------------- 8.1/43.6 MB 4.4 MB/s eta 0:00:09
   -------- ------------------------------- 9.2/43.6 MB 4.4 MB/s eta 0:00:08
   --------- ------------------------------ 10.0/43.6 MB 4.4 MB/s eta 0:00:08
   ---------- ----------------------------- 11.0/43.6 MB 4.4 MB/s eta 0:00:08
   ----------- ---------------------------- 12.1/43.6 MB 4.4 MB/s eta 0:00:08
   ----------- ---------------------------- 12.8/43.6 MB 4.4 MB/s eta 0:00:07
   ------------ --------------------------- 13.9/43.6 MB 4.4 MB/s eta 0:00:07
   ------------- -------------------------- 14.7/43.6 MB 4.4 MB/s eta 0:00:07
   -------------- ------------------------- 15.7/43.6 MB 4.4 MB/s eta 0:00:07
   --------------- ------------------------ 16.5/43.6 MB 4.4 MB/s eta 0:00:07
   ---------------- ----------------------- 17.8/43.6 MB 4.5 MB/s eta 0:00:06
   ----------------- ---------------------- 18.9/43.6 MB 4.5 MB/s eta 0:00:06
   ------------------ --------------------- 19.9/43.6 MB 4.5 MB/s eta 0:00:06
   ------------------ --------------------- 20.7/43.6 MB 4.5 MB/s eta 0:00:06
   ------------------- -------------------- 21.8/43.6 MB 4.5 MB/s eta 0:00:05
   -------------------- ------------------- 22.8/43.6 MB 4.6 MB/s eta 0:00:05
   ---------------------- ----------------- 24.1/43.6 MB 4.6 MB/s eta 0:00:05
   ----------------------- ---------------- 25.4/43.6 MB 4.7 MB/s eta 0:00:04
   ------------------------ --------------- 26.5/43.6 MB 4.7 MB/s eta 0:00:04
   ------------------------- -------------- 27.5/43.6 MB 4.7 MB/s eta 0:00:04
   -------------------------- ------------- 28.6/43.6 MB 4.7 MB/s eta 0:00:04
   --------------------------- ------------ 29.6/43.6 MB 4.7 MB/s eta 0:00:03
   ---------------------------- ----------- 30.7/43.6 MB 4.7 MB/s eta 0:00:03
   ----------------------------- ---------- 32.0/43.6 MB 4.8 MB/s eta 0:00:03
   ------------------------------ --------- 32.8/43.6 MB 4.8 MB/s eta 0:00:03
   ------------------------------ --------- 33.3/43.6 MB 4.7 MB/s eta 0:00:03
   ------------------------------ --------- 33.8/43.6 MB 4.6 MB/s eta 0:00:03
   ------------------------------- -------- 34.6/43.6 MB 4.6 MB/s eta 0:00:02
   -------------------------------- ------- 35.4/43.6 MB 4.6 MB/s eta 0:00:02
   --------------------------------- ------ 36.4/43.6 MB 4.6 MB/s eta 0:00:02
   ---------------------------------- ----- 37.2/43.6 MB 4.6 MB/s eta 0:00:02
   ----------------------------------- ---- 38.3/43.6 MB 4.6 MB/s eta 0:00:02
   ------------------------------------ --- 39.3/43.6 MB 4.6 MB/s eta 0:00:01
   ------------------------------------- -- 40.6/43.6 MB 4.6 MB/s eta 0:00:01
   -------------------------------------- - 41.9/43.6 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------  43.0/43.6 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  43.3/43.6 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  43.3/43.6 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 43.6/43.6 MB 4.3 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.1 threadpoolctl-3.5.0

In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [12]:
url='http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
column_names=['sepal_length','sepal_width','petal_length','petal_width','target']
df = pd.read_csv(url,header=None,names=column_names)
df

     sepal_length  sepal_width  petal_length  petal_width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [14]:
df.tail(5)

     sepal_length  sepal_width  petal_length  petal_width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [15]:
df.shape

(150, 5)

In [16]:
df.size

750

In [17]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  target
0           False        False         False        False   False
1           False        False         False        False   False
2           False        False         False        False   False
3           False        False         False        False   False
4           False        False         False        False   False
..            ...          ...           ...          ...     ...
145         False        False         False        False   False
146         False        False         False        False   False
147         False        False         False        False   False
148         False        False         False        False   False
149         False        False         False        False   False

[150 rows x 5 columns]

In [18]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
target          0
dtype: int64

In [19]:
df.loc[5,'sepal_length']=np.nan

In [20]:
df.isnull().sum()

sepal_length    1
sepal_width     0
petal_length    0
petal_width     0
target          0
dtype: int64

In [21]:
df.loc[4,'sepal_width']=np.nan
df.loc[3,'petal_length']=np.nan
df.loc[2,'petal_width']=np.nan
df.loc[5,'target']=np.nan

In [22]:
df.isnull().sum()

sepal_length    1
sepal_width     1
petal_length    1
petal_width     1
target          1
dtype: int64

In [23]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  target
0           False        False         False        False   False
1           False        False         False        False   False
2           False        False         False         True   False
3           False        False          True        False   False
4           False         True         False        False   False
..            ...          ...           ...          ...     ...
145         False        False         False        False   False
146         False        False         False        False   False
147         False        False         False        False   False
148         False        False         False        False   False
149         False        False         False        False   False

[150 rows x 5 columns]

In [25]:
df_miss_drop=df.copy()

In [26]:
v1=df_miss_drop.dropna()

In [27]:
df_miss_drop=df.copy()

In [28]:
df_miss_drop.dropna()

     sepal_length  sepal_width  petal_length  petal_width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[146 rows x 5 columns]

In [29]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  target
0           False        False         False        False   False
1           False        False         False        False   False
2           False        False         False         True   False
3           False        False          True        False   False
4           False         True         False        False   False
..            ...          ...           ...          ...     ...
145         False        False         False        False   False
146         False        False         False        False   False
147         False        False         False        False   False
148         False        False         False        False   False
149         False        False         False        False   False

[150 rows x 5 columns]

In [30]:
df.isnull().sum()

sepal_length    1
sepal_width     1
petal_length    1
petal_width     1
target          1
dtype: int64

In [31]:
v1=df_miss_drop.dropna()

In [32]:
print(v1)

     sepal_length  sepal_width  petal_length  petal_width          target
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[146 rows x 5 columns]

In [33]:
v1.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
target          0
dtype: int64

In [35]:
df_mean_sl=df.copy()

In [36]:
df_mean_sl=df_mean_sl.fillna(df_mean_sl['sepal_length'].mean)

In [37]:
df_mean_sl

,sepal_length,sepal_width,petal_length,petal_width,target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,<bound method Series.mean of 0 5.1\n1 ...,Iris-setosa
3,4.6,3.1,<bound method Series.mean of 0 5.1\n1 ...,0.2,Iris-setosa
4,5.0,<bound method Series.mean of 0 5.1\n1 ...,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [38]:
v2=df_mean_sl.isnull()

In [39]:
v2

     sepal_length  sepal_width  petal_length  petal_width  target
0           False        False         False        False   False
1           False        False         False        False   False
2           False        False         False        False   False
3           False        False         False        False   False
4           False        False         False        False   False
..            ...          ...           ...          ...     ...
145         False        False         False        False   False
146         False        False         False        False   False
147         False        False         False        False   False
148         False        False         False        False   False
149         False        False         False        False   False

[150 rows x 5 columns]

In [40]:
v3=df_mean_sl.isnull().sum()

In [41]:
v3

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
target          0
dtype: int64

In [42]:
df_fd=df.copy()

In [45]:
df_fd=df_fd.fillna(method='ffill')

C:\Users\hp\AppData\Local\Temp\ipykernel_10344\2844962574.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fd=df_fd.fillna(method='ffill')

In [46]:
v4=df_fd.isnull()

In [47]:
v4

     sepal_length  sepal_width  petal_length  petal_width  target
0           False        False         False        False   False
1           False        False         False        False   False
2           False        False         False        False   False
3           False        False         False        False   False
4           False        False         False        False   False
..            ...          ...           ...          ...     ...
145         False        False         False        False   False
146         False        False         False        False   False
147         False        False         False        False   False
148         False        False         False        False   False
149         False        False         False        False   False

[150 rows x 5 columns]

In [48]:
v5=df_fd.isnull().sum()

In [49]:
v5

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
target          0
dtype: int64

In [51]:
df_bd=df.copy()

In [52]:
df_bd=df_bd.fillna(method='bfill')

C:\Users\hp\AppData\Local\Temp\ipykernel_10344\654438956.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bd=df_bd.fillna(method='bfill')

In [53]:
v6=df_bd.isnull().sum()

In [54]:
v6

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
target          0
dtype: int64

In [55]:
from sklearn.preprocessing import MinMaxScaler

In [56]:
numeric_val=['sepal_length','sepal_width','petal_length','petal_width']

In [57]:
scaler=MinMaxScaler()

In [59]:
df[numeric_val]=scaler.fit_transform(df[numeric_val])

In [60]:
df[numeric_val]

     sepal_length  sepal_width  petal_length  petal_width
0        0.222222     0.625000      0.067797     0.041667
1        0.166667     0.416667      0.067797     0.041667
2        0.111111     0.500000      0.050847          NaN
3        0.083333     0.458333           NaN     0.041667
4        0.194444          NaN      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.416667      0.711864     0.916667
146      0.555556     0.208333      0.677966     0.750000
147      0.611111     0.416667      0.711864     0.791667
148      0.527778     0.583333      0.745763     0.916667
149      0.444444     0.416667      0.694915     0.708333

[150 rows x 4 columns]

In [61]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width       target
0      0.222222     0.625000      0.067797     0.041667  Iris-setosa
1      0.166667     0.416667      0.067797     0.041667  Iris-setosa

In [62]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
target           object
dtype: object

In [ ]:
cate